# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Virtual env
.venv/
venv/

# Tooling caches
.ruff_cache/
.pytest_cache/
.mypy_cache/

# PyInstaller
*.manifest

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store

# Logs
*.log
